<h2>Create New Account:</h2>
<form action="<%= users_url %>" method="POST"> 
    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>

    <label for="email">Email: </label>
    <input id="email" type="text" name="user[email]" >
    <br>
    
    <label for="password">Password: </label>
    <input id="password" type = "password" name="user[password]">
    <br>

    <input type="submit" value="Create new user">
    <br>

    <% if flash[:errors]%>
        <% flash[:errors].each do |error| %>
            <%= error %>
            <br>
        <%end%>
    <%end%>

</form>